//-----------IMPORTS------------------

//"_" pour dire que c'est un module
// et qu'il ne faut pas le compiler

@import "./add-ons/variables";
@import "./add-ons/_placeholder";
@import "./add-ons/animations";

//------------CORPS DU SITE-----------

body {
  position: relative;
}

.main-la-palette-du-gout,
.main-le-delice-des-sens {
  overflow: hidden;
  background-color: $back-lightgray;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1180px;
}

.main-la-palette-du-gout {
  height: 1150px;
}

.main-la-note-enchantee {
  overflow: hidden;
  background-color: $back-lightgray;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1230px;
}

.main-a-la-francaise {
  overflow: hidden;
  background-color: $back-lightgray;
  position: absolute;
  top: 265px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1200px;
}

//----MEDIA QUERIES----------------
@media (max-width: 374px) {
  .footer-la-note-enchantee {
    position: relative;
    bottom: -1160px;
  }

  .footer-la-palette-du-gout {
    position: relative;
    bottom: -1090px;
  }

  .footer-a-la-francaise {
    position: relative;
    bottom: -1070px;
  }

  .footer-le-delice-des-sens {
    position: relative;
    bottom: -1080px;
  }
}

.fa-arrow-left,
.title-heart {
  text-decoration: none;
  color: black;
}

//--------------HEADER-----------------

button {
  border: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block: 10px;
}

@media (min-width: 376px) {
  .fa-arrow-left {
    align-self: flex-start;
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 40px;
  }
}

.restaurants-h1 {
  font-family: shrikhand;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}

.restaurant-title {
  // mise en page du titre
  @extend %flex-center;
  font-family: shrikhand;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  justify-content: space-evenly;
  margin-block: 13px;
  cursor: pointer;
}

img {
  width: 400px;
  height: 260px;
  object-fit: cover;
}

//--------MAIN------------------

.entrees,
.plats,
.desserts {
  margin: 30px 15px 50px 15px;
  font-size: 20px;
}

.entrees-title,
.plats-title,
.desserts-title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 3px solid $green;
  width: 42px;
  margin-block: 15px;
}

.entrees-sous-title,
.plats-sous-title,
.desserts-sous-title {
  font-size: 18px;
  margin: 12px 20px 0px 20px;
  padding: 10px 0 0 0;
}

.sous-titre-et-comm {
  height: 65px;
  position: relative;
  cursor: pointer;
}

.entrees-comm,
.plats-comm,
.desserts-comm {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  margin: 0 20px 0 20px;
  padding: 7px 20px 10px 0;
}

.sous-titre-et-comm {
  background: white;
  border-radius: 15px;
  box-shadow: 3px 0px 10px $back-shadow-gray;
}

//---------------SLIDER CHECK----------------------

.sous-titre-et-comm {
  position: relative;
}

.entrees-sous-title,
.plats-sous-title,
.desserts-sous-title,
.accompagnements {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide-check {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.prix {
  display: flex;
  align-items: end;
  padding: 0 10px 10px 10px;
  // background: white;
}

.conteneur-check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 70px;
  height: 65px;
  background-color: $green;
  color: white;
  margin-right: -70px;
  transition: margin-right 500ms;
}

.sous-titre-et-comm:hover .check-test {
  animation: rotation 600ms;
}

.sous-titre-et-comm:hover .conteneur-check {
  margin-right: 0;
}

.entrees-sous-title,
.entrees-comm,
.plats-sous-title,
.desserts-sous-title,
.accompagnements {
  transition: margin-right 600ms;
}

.sous-titre-et-comm:hover .entrees-sous-title,
.sous-titre-et-comm:hover .entrees-comm,
.sous-titre-et-comm:hover .plats-sous-title,
.sous-titre-et-comm:hover .desserts-sous-title,
.sous-titre-et-comm:hover .accompagnements {
  width: calc(85% - 70px);
  margin-right: 80px;
}

//----ENTREES/PLATS/DESSERTS LOADING-----------------------
.entrees {
  @extend %loading;
  animation-duration: 500ms;
}

.plats {
  @extend %loading;
  animation-duration: 800ms;
  animation-delay: 300ms;
}

.desserts {
  @extend %loading;
  animation-duration: 1200ms;
  animation-delay: 600ms;
}

//-------------------------------------

.prix {
  font-weight: 500;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
}

.button-container {
  // centrage bouton
  @extend %flex-center;
}

.button-commander {
  width: 50%;
  border-radius: 50px;
  border: none;
  font-size: 28px;
  color: white;
  padding: 28px 75px 28px 75px;
  margin-bottom: 30px;
  background: linear-gradient($pink, $violet);
  box-shadow: 0px 5px 5px $back-shadow-gray;
  &:hover {
    // changement au survol
    cursor: pointer;
    transform: scale(1.05);
    transition: 300ms;
    box-shadow: 0px 4px 3px 1px $back-shadow-gray;
  }
}

//--------FOOTER------------------

.liens-footer {
  margin-bottom: 5px;
}

//----MEDIA QUERIES---------------

@media (max-width: 650px) {
  .button-commander {
    font-size: 16px;
    padding: 15px 30px 15px 30px;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .main-a-la-francaise,
  .main-la-palette-du-gout,
  .main-le-delice-des-sens,
  .main-la-note-enchantee {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 440px;
  }
}

@media (min-width: 500px) {
  .main-a-la-francaise,
  .main-la-palette-du-gout,
  .main-le-delice-des-sens,
  .main-la-note-enchantee {
    position: absolute;
    left: 13%;
    right: 13%;
    top: 440px;
  }
}

@media (max-width: 374px) {
  nav {
    position: relative;
  }

  .fa-arrow-left {
    position: absolute;
    top: 15px;
    left: 20px;
  }
}
// ----MEDIA QUERIES 375---------

@media (min-width: 375px) {
  .main-la-palette-du-gout,
  .main-la-note-enchantee,
  .main-le-delice-des-sens,
  .main-la-note-enchantee {
    height: 1258px;
  }

  .button-commander {
    width: 200px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    color: white;
    padding: 17px 0px 17px 0px;
    margin-bottom: 30px;
    background: linear-gradient($pink, $violet);
    box-shadow: 0px 5px 5px $back-shadow-gray;
  }

  .footer-la-palette-du-gout,
  .footer-a-la-francaise,
  .footer-le-delice-des-sens {
    position: relative;
    bottom: -1110px;
  }

  .footer-la-note-enchantee {
    position: relative;
    bottom: -1185px;
  }

  @media (min-width: 877px) {
    .button-fonctionnement {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .partie-2-fonctionnement {
      background: white;
      height: 220px;
    }
  }

  .card-entree-la-note-enchantee,
  .entrees,
  .plats,
  .desserts {
    padding-inline: 12%;
    margin-bottom: 50px;
  }

  img {
    height: 384px;
    width: 100%;
    object-fit: cover;
  }

  nav {
    height: 80px;
  }

  .restaurant-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-block: 40px;
    gap: 35px;
  }

  h3 {
    font-size: 25px;
    font-weight: 200;
  }
}

// check vert défilant sur les plats avec "..."
// animations ? cf brief
// w3 pass html et css
// vérif des liens / photos
// vérif des pages restau
// retouches détails
// mettre des comm
//----------------------------------------------
//----------------------------------------------
//----------------------------------------------
//----------------------------------------------

// TEST CHECKBOX ON CLICK

// // animations @keyframes
// @keyframes slide {
//   0% {
//     opacity: 0;
//     transform: translateX(100%);
//     // commence à l'intérieur du bloc parent
//   }

//   100% {
//     opacity: 1;
//     transform: translateX(0);
//     // termine à sa position finale
//   }
// }

// .circle-check {
//   // style initial de la box "check" invisible
//   //  et à l'intérieur du bloc parent
//   opacity: 0;
//   transform: translateX (100%);
//   transition: opacity 500ms, transform 500ms;
// }

// #click-checked:checked + label .circle-check {
//   // quand la checkbox est cochée, l'animation commence
//   animation: slide 500ms forwards;
// }

// #click-checked:not(:checked) + label .circle-check {
//   // inverse l'animation quand la checckbox est décochée
//   animation: slide 500ms reverse forwards;

// }---MOVE DU PRIX---

// .prix {
//   transition: transform 100ms;
// }

// #click-checked:checked + label .prix {
//   transform: translateX(-100px);
// }

// #click-checked:not(:checked) + label .prix {
//   transform: translateX(0);
// }

// #click-checked {
//   display: none;
// }

// //---FIN DU MOVE DU PRIX---
// .prix-check {
//   display: flex;
// }

// .circle-check {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   background: $green;
//   transition: transform;
//   width: 90px;
//   height: 65px;
//   position: absolute;
//   top: 0;
//   right: 0px;
//   border-top-right-radius: 15px;
//   border-bottom-right-radius: 15px;
// }

//
