@media (max-width: 767.8px) {
  // "_" pour dire que c'est un module
  // et qu'il ne faut pas le compiler
  @import "./add-ons/variables";
  @import "./add-ons/_placeholder";

  body {
    // mise à zéro des marges et padding pour navigateurs
    margin: 0;
    padding: 0;
  }

  div {
    // police et éventuels ancres avec comportement smooth
    font-family: roboto, sans-serif;
    scroll-behavior: smooth;
  }

  main {
    background-color: $back-lightgray;
  }

  h1 {
    font-size: 50px;
  }

  button {
    border: none;
  }

  .fa-arrow-left {
    font-size: 35px;
  }

  .nav {
    @extend %flex-center;
    justify-content: space-between;
    width: 60%;
    margin-left: 50px;
  }

  h3 {
    font-size: 48px;
    font-weight: 200;
  }

  .fa-heart {
    font-size: 45px;
  }

  .restaurant-title {
    @extend %flex-center;
    justify-content: space-between;
    width: 85%;
    margin-block: 40px;
  }

  .entrees,
  .plats,
  .desserts {
    margin: 30px 30px 50px 30px;
    font-size: 20px;
  }

  .entrees-title,
  .plats-title,
  .desserts-title {
    font-size: 26px;
    font-weight: 300;
    padding-bottom: 15px;
    border-bottom: 5px solid $green;
    width: 70px;
  }

  .entrees-sous-title,
  .plats-sous-title,
  .desserts-sous-title {
    font-size: 30px;
    margin: 45px 20px 0px 20px;
  }

  .entrees-comm,
  .plats-comm,
  .desserts-comm {
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    font-weight: 300;
    margin: 0px 20px 0px 20px;
    padding: 10px 10px 10px 0;
  }

  .sous-titre-et-comm {
    background: white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #fffffffffffffffffffffffffffffffffffff;
  }

  .prix {
    font-weight: 500;
  }

  .fa-utensils,
  .fa-handshake-angle {
    color: white;
  }

  .button-container {
    // centrage bouton
    @extend %flex-center;
  }

  .button-commander {
    width: 45%;
    border-radius: 50px;
    border: none;
    font-size: 28px;
    color: white;
    padding: 28px 75px 28px 75px;
    margin-top: 38px;
    margin-bottom: 70px;
    background: linear-gradient($pink, $violet);
    box-shadow: 0px 5px 5px $back-shadow-gray;
  }

  .button-commander:hover {
    // changement au survol
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }

  footer {
    padding-inline: 30px;
    padding-bottom: 40px;
  }

  .footer-title {
    font-size: 30px;
    margin-block: 20px;
  }

  .liens-footer {
    margin-bottom: 40px;
  }

  .proposer-un-restaurant,
  .devenir-partenaire,
  .mentions-legales,
  .contact {
    font-size: 30px;
  }
}
