//-----------IMPORTS------------------

//"_" pour dire que c'est un module
// et qu'il ne faut pas le compiler

@import "./add-ons/variables";
@import "./add-ons/_placeholder";

//------------CORPS DU SITE-----------

body {
  // mise à zéro des marges et padding pour navigateurs
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
  // z-index: 0;
}

.main-la-palette-du-gout,
.main-le-delice-des-sens {
  overflow: hidden;
  background-color: $back-lightgray;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1180px;
}

.main-la-palette-du-gout {
  height: 1150px;
}

.main-la-note-enchantee {
  overflow: hidden;
  background-color: $back-lightgray;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1230px;
}

.main-a-la-francaise {
  overflow: hidden;
  background-color: $back-lightgray;
  position: absolute;
  top: 265px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1200px;
}

.footer-la-note-enchantee {
  position: relative;
  bottom: -1240px;
}

.footer-la-palette-du-gout {
  position: relative;
  bottom: -1160px;
}

.footer-a-la-francaise {
  position: relative;
  bottom: -1160px;
}

.footer-le-delice-des-sens {
  position: relative;
  bottom: -1170px;
}

@media (max-width: 374px) {
  .footer-la-note-enchantee {
    position: relative;
    bottom: -950px;
  }

  .footer-la-palette-du-gout {
    position: relative;
    bottom: -1090px;
  }

  .footer-a-la-francaise {
    position: relative;
    bottom: -1070px;
  }

  .footer-le-delice-des-sens {
    position: relative;
    bottom: -1080px;
  }
}

//--------------HEADER-----------------

button {
  border: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-arrow-left {
  align-self: flex-start;
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: 40px;
}

h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}

h3 {
  font-size: 28px;
  font-weight: 200;
}

.restaurant-title {
  @extend %flex-center;
  justify-content: space-evenly;
  // width: 92%;
  margin-block: 13px;
  cursor: pointer;
}

img {
  width: 400px;
}

//--------MAIN------------------

.entrees,
.plats,
.desserts {
  margin: 30px 15px 50px 15px;
  font-size: 20px;
}

.entrees-title,
.plats-title,
.desserts-title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 3px solid $green;
  width: 42px;
  margin-block: 15px;
}

.entrees-sous-title,
.plats-sous-title,
.desserts-sous-title {
  font-size: 18px;
  margin: 12px 20px 0px 20px;
  padding: 10px 0 0 0;
}

.sous-titre-et-comm {
  height: 65px;
  position: relative;
  cursor: pointer;
}

.entrees-comm,
.plats-comm,
.desserts-comm {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 0 20px;
  padding: 7px 10px 10px 0;
}

.sous-titre-et-comm {
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 3px $back-shadow-gray;
}

//---------------SLIDER CHECK----------------------

.sous-titre-et-comm {
  position: relative;
}

.slide-check {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.prix {
  display: flex;
  align-items: end;
  padding: 0 10px 10px 0;
}

.check-test {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 70px;
  height: 65px;
  background-color: $green;
  color: white;
  margin-right: -70px;
  transition: margin-right 500ms;
}

.sous-titre-et-comm:hover .slide-check i {
  animation: rotation 550ms;
}

@keyframes rotation {
  0% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0);
  }
}

.sous-titre-et-comm:hover .check-test {
  margin-right: 0;
}

.entrees-sous-title,
.plats-sous-title,
.desserts-sous-title,
.accompagnements {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//--------------ENTREES LOADING-----------------------
.entrees {
  animation-name: entrees-loading;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes entrees-loading {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.25;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

//--------------PLATS LOADING-----------------------

.plats {
  animation-name: plats-loading;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes plats-loading {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.25;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

//--------------DESSERTS LOADING-----------------------

.desserts {
  animation-name: desserts-loading;
  animation-duration: 1200ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes desserts-loading {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.25;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
//-------------------------------------

.prix {
  font-weight: 500;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
}

.button-container {
  // centrage bouton
  @extend %flex-center;
}

.button-commander {
  width: 50%;
  border-radius: 50px;
  border: none;
  font-size: 28px;
  color: white;
  padding: 28px 75px 28px 75px;
  margin-bottom: 30px;
  background: linear-gradient($pink, $violet);
  box-shadow: 0px 5px 5px $back-shadow-gray;
  &:hover {
    // changement au survol
    cursor: pointer;
    transform: scale(1.05);
    transition: 300ms;
    box-shadow: 0px 4px 3px 1px $back-shadow-gray;
  }
}

// .button-commander:hover {
//   // changement au survol
//   cursor: pointer;
//   transform: scale(1.05);
//   transition: 300ms;
//   box-shadow: 0px 4px 3px 1px $back-shadow-gray;
// }

//--------FOOTER------------------

.footer-title {
  font-size: 18px;
  margin-block: 6px;
}

.liens-footer {
  margin-bottom: 40px;
}

.proposer-un-restaurant,
.devenir-partenaire,
.mentions-legales,
.contact {
  font-size: 15px;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }
}

// .proposer-un-restaurant:hover,
// .devenir-partenaire:hover,
// .mentions-legales:hover,
// .contact:hover {
//   cursor: pointer;
//   transform: scale(1.05);
//   transition: 0.3s;
// }

// -------MEDIA QUERIES SOUS TITRE AND COMM et CHECKBOX-----------
// @media (max-width: 729px) {
//   .sous-titre-et-comm,
//   .circle-check {
//     height: 120px;
//   }
// }

// @media (max-width: 572px) {
//   .sous-titre-et-comm,
//   .circle-check {
//     height: 150px;
//   }
// }

// @media (max-width: 500px) {
//   .sous-titre-et-comm,
//   .circle-check {
//     height: 180px;
//   }
// }

// @media (max-width: 398px) {
//   .sous-titre-et-comm,
//   .circle-check {
//     height: 210px;
//   }
// }

@media (max-width: 650px) {
  .button-commander {
    font-size: 16px;
    padding: 15px 30px 15px 30px;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .main-a-la-francaise,
  .main-la-palette-du-gout,
  .main-le-delice-des-sens,
  .main-la-note-enchantee {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 440px;
  }
}

@media (min-width: 500px) {
  .main-a-la-francaise,
  .main-la-palette-du-gout,
  .main-le-delice-des-sens,
  .main-la-note-enchantee {
    position: absolute;
    left: 13%;
    right: 13%;
    top: 440px;
  }
}

@media (max-width: 375px) {
  nav {
    position: relative;
  }

  .fa-arrow-left {
    position: absolute;
    top: 15px;
    left: 20px;
  }
}
// ----MEDIA QUERIES 375---------

@media (min-width: 375px) {
  // doublon de style.scss de L628 à L641

  // body {
  //   // mise à zéro des marges et padding pour navigateurs
  //   margin: 0;
  //   padding: 0;
  // }

  // h1 {
  //   font-family: shrikhand;
  //   font-size: 40px;
  //   font-weight: 300;
  //   margin: 20px;
  //   display: flex;
  //   justify-content: center;
  // }

  // .main-a-la-francaise,
  // .main-la-palette-du-gout,
  // .main-le-delice-des-sens,
  // .main-la-note-enchantee {
  //   position: absolute;
  //   left: 13%;
  //   right: 13%;
  //   top: 440px;
  // }

  .main-la-palette-du-gout,
  .main-la-note-enchantee,
  .main-le-delice-des-sens {
    height: 1300px;
  }

  // .footer-a-la-francaise {
  //   position: relative;
  //   bottom: -1130px;
  // }

  // .footer-la-palette-du-gout {
  //   position: relative;
  //   bottom: -1152px;
  // }

  // .footer-le-delice-des-sens {
  //   position: relative;
  //   bottom: -1160px;
  // }

  // .footer-la-note-enchantee {
  //   position: relative;
  //   bottom: -1210px;
  // }

  .button-commander {
    width: 200px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    color: white;
    padding: 17px 0px 17px 0px;
    margin-bottom: 30px;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 5px 5px rgb(189, 182, 182);
  }

  // doublon de style.scss de L643 à L681
  // .localisation {
  //   background-color: rgb(227, 227, 227);
  //   box-shadow: none;
  //   height: 45px;
  // }

  // .reservation-title {
  //   padding: 17px 30px 16px 30px;
  // }

  // .reservation-title,
  // .reservation-commentaire {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 7px;
  //   margin-top: 7px;
  // }

  // .button-container {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  // }

  // .button-explorer {
  //   // width: 28%;
  //   border-radius: 50px;
  //   border: none;
  //   font-size: 15px;
  //   color: white;
  //   padding: 17px 20px 17px 20px;
  //   margin-top: 30px;
  //   margin-bottom: 45px;
  //   background: linear-gradient(#ff79da, #9356dc);
  //   box-shadow: 0px 5px 10px rgb(189, 182, 182);
  // }

  @media (min-width: 877px) {
    .button-fonctionnement {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .partie-2-fonctionnement {
      background: white;
      height: 235px;
    }
  }

  .card-entree-la-note-enchantee,
  .entrees,
  .plats,
  .desserts {
    padding-inline: 12%;
  }

  // doublon de style.scss de L693 à L746

  // .button-choix-du-restaurant {
  //   justify-content: center;
  //   width: 90%;
  //   margin-block: 10px;
  //   margin-inline: 5%;
  //   padding: 30px 5px 30px 0px;
  //   border: none;
  //   border-radius: 15px;
  //   font-size: 16px;
  //   background-color: rgb(247, 247, 247);
  //   box-shadow: 0px 5px 5px rgb(236, 234, 234);
  //   position: relative;
  //   z-index: 1;
  // }

  // .fonctionnement-title {
  //   font-size: 24px;
  //   margin: 45px 0 10px 5%;
  // }

  // footer {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   height: 80px;
  // }

  // .footer-title {
  //   padding: 35px 30px 40px 0;
  //   font-size: 18px;
  // }

  // .liens-footer {
  //   display: flex;
  //   flex-direction: row;
  //   padding: 40px 90px 20px 0;
  // }

  // .devenir-partenaire {
  //   padding-right: 45px;
  // }

  // .mentions-legales,
  // .contact {
  //   font-size: 15px;
  // }

  // .mentions-legales {
  //   padding-right: 10px;
  // }

  // .fa-utensils,
  // .fa-handshake-angle {
  //   padding-right: 5px;
  // }

  img {
    height: 384px;
    width: 100%;
    object-fit: cover;
  }

  nav {
    height: 97px;
  }

  .restaurant-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-block: 40px;
    gap: 35px;
  }

  h3 {
    font-size: 25px;
    font-weight: 200;
  }
}

// check vert défilant sur les plats avec "..."
// hover coeurs
// animations ? cf brief
// w3 pass html et css
// vérif des liens / photos
// vérif des pages restau
// retouches détails
// mettre des comm
//----------------------------------------------
//----------------------------------------------
//----------------------------------------------
//----------------------------------------------

// TEST CHECKBOX ON CLICK

// // animations @keyframes
// @keyframes slide {
//   0% {
//     opacity: 0;
//     transform: translateX(100%);
//     // commence à l'intérieur du bloc parent
//   }

//   100% {
//     opacity: 1;
//     transform: translateX(0);
//     // termine à sa position finale
//   }
// }

// .circle-check {
//   // style initial de la box "check" invisible
//   //  et à l'intérieur du bloc parent
//   opacity: 0;
//   transform: translateX (100%);
//   transition: opacity 500ms, transform 500ms;
// }

// #click-checked:checked + label .circle-check {
//   // quand la checkbox est cochée, l'animation commence
//   animation: slide 500ms forwards;
// }

// #click-checked:not(:checked) + label .circle-check {
//   // inverse l'animation quand la checckbox est décochée
//   animation: slide 500ms reverse forwards;

// }---MOVE DU PRIX---

// .prix {
//   transition: transform 100ms;
// }

// #click-checked:checked + label .prix {
//   transform: translateX(-100px);
// }

// #click-checked:not(:checked) + label .prix {
//   transform: translateX(0);
// }

// #click-checked {
//   display: none;
// }

// //---FIN DU MOVE DU PRIX---
// .prix-check {
//   display: flex;
// }

// .circle-check {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   background: $green;
//   transition: transform;
//   width: 90px;
//   height: 65px;
//   position: absolute;
//   top: 0;
//   right: 0px;
//   border-top-right-radius: 15px;
//   border-bottom-right-radius: 15px;
// }

//
