//------IMPORTS--------------------

//"_" pour dire que c'est un module
// et qu'il ne faut pas le compiler

@import "./add-ons/variables";
@import "./add-ons/_placeholder";
@import "./add-ons/animations";

//-------LOADER INDEX.HTML---------------------

.loader {
  // définition du loader sur page index
  display: flex;
  justify-content: center;
  align-items: center;
  color: $violet;
  background-color: $green;
  font-size: 50px;
  font-weight: 500;
  font-family: shrikhand;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeOut 3s ease-out;
  z-index: 3;
  width: 100%;
  height: 100%;
  //-webkit-animation: reduction 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: reduction 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

//-------CORPS DU SITE----------------

body {
  // mise à zéro des marges et padding pour navigateurs
  margin: 0;
  padding: 0;
}

main {
  // police et éventuels ancres avec comportement smooth
  font-family: roboto, sans-serif;
}

//---------HEADER---------------------

.main-h1 {
  // modif du titre et centrage
  @extend %flex-center;
  font-family: shrikhand;
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0 0 20px;
}

//----------MAIN----------------------

.localisation {
  // couleur background et ombres
  @extend %flex-center;
  background-color: $back-gray;
  box-shadow: 0px 0px 3px 1px $back-shadow-gray,
    0px 3px 3px 1px $back-shadow-gray;
  height: 48px;
  margin-block: 0;
  .fa-location-dot {
    // mise en place de l'icône
    @extend %flex-center;
    font-size: 16px;
    margin-inline: 5px;
  }
}

.ville {
  // mise en place du nom de la ville
  font-size: 15px;
}

//--------PARTIE 1-----------------

h3 {
  // padding titre et paragraphe
  font-size: 28px;
  font-weight: 200;
  margin: 0;
  padding: 13px 0 0 10px;
}

p {
  // padding titre et paragraphe
  margin: 0;
  padding: 4px 0 0 10px;
}

.fa-arrow-left,
.title-heart {
  text-decoration: none;
  color: black;
}

.partie-1-reservation {
  // mise en forme de la partie réservation
  @extend %flex-column;
  background-color: $back-lightgray;
  height: 335px;
}

.reservation-title {
  // ajustement padding titre résa
  padding: 45px 30px 14px 30px;
}

.reservation-title-1,
.reservation-title-2 {
  // modif police des titres
  @extend %flex-center;
  font-size: 23px;
  font-weight: 600;
}

.reservation-commentaire-1,
.reservation-commentaire-2 {
  // modif police des comm
  @extend %flex-center;
  font-size: 18px;
  font-weight: 200;
}

.button-container {
  // centrage bouton
  @extend %flex-center;
}

.button-explorer {
  // déco bouton explorer
  width: 230px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  color: white;
  padding: 17px 20px 17px 20px;
  margin-top: 27px;
  margin-bottom: 45px;
  background: linear-gradient($pink, $violet);
  box-shadow: 0px 5px 10px $back-shadow-gray;
  scroll-behavior: smooth;
  &:hover {
    // changement au survol
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 4px 3px 1px $back-shadow-gray;
  }
}

//-----PARTIE 2-------------------

.partie-2-fonctionnement {
  // mise en colonne
  @extend %flex-column;
  background: white;
  height: 440px;
}

.fonctionnement-title {
  // mise en place et police du titre
  font-size: 24px;
  margin: 50px 0 20px 5%;
}

.button-fonctionnement {
  // mise en colonne
  @extend %flex-column;
}

.button-choix-du-restaurant,
.button-composez-votre-menu,
.button-degustez-au-restaurant {
  // mise en forme des 3 boutons
  @extend %flex-center;
  width: 90%;
  margin-block: 10px;
  margin-inline: 5%;
  padding: 28px 0px 28px 0;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: $back-lightgray;
  box-shadow: 0px 5px 5px $box-shadow-gray;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: white;
    transition: 400ms;
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0px 4px 3px 1px $back-shadow-gray;
    &.button-choix-du-restaurant:hover .fa-tablet-screen-button,
    &.button-composez-votre-menu:hover .fa-list-ul,
    &.button-degustez-au-restaurant:hover .fa-store {
      // au survol, les icônes deviennent rose
      color: $pink;
    }
  }
}

.number {
  // centrage des nombres
  @extend %flex-center;
  color: white;
  padding-top: 2px;
}

.box-number {
  // définition des nombres
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid $violet;
  border-radius: 15px;
  background: $violet;
  z-index: 2;
}

.fa-tablet-screen-button,
.fa-list-ul,
.fa-store {
  // mise en forme des 3 icônes
  color: $font-awesome-gray;
  padding-inline: 30px;
}

.fa-1,
.fa-2,
.fa-3 {
  // chiffre 1/2/3
  color: white;
  border-radius: 50px;
  margin-right: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: $violet;
}

//------PARTIE 3-------------------

#partie-3-restaurants {
  // mise en colonne
  @extend %flex-column;
  background-color: $back-lightgray;
  margin-top: 5px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.restaurants-title {
  // modif titre restaurants
  font-size: 23px;
  margin-left: 8%;
  font-weight: 500;
  margin-top: 17px;
  margin-bottom: 0px;
}

.cards {
  // modif cards
  width: 90%;
  margin: 15px 5% 5% 5%;
}

.card1,
.card2,
.card3,
.card4 {
  // hauteur cards
  height: 250px;
  max-width: 500px;
  margin-bottom: 20px;
  &:hover {
    transform: scale(1.05);
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: 0px 4px 3px 1px $back-shadow-gray;
  }
}

.card-part1,
.card-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card1,
.card2 {
  position: relative;
  z-index: 1;
}

.card1-comm,
.card2-comm,
.card3-comm,
.card4-comm {
  // modif du comm
  @extend %flex-column;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  height: 80px;
  margin-top: -4px;
  &:hover {
    cursor: pointer;
  }
}

.nouveau {
  font-size: 14px;
  border: 2px solid $green;
  border-radius: 2px;
  background: $green;
  padding: 5px 10px 5px 10px;
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 12px;
  color: green;
}

.fa-heart {
  font-size: 25px;
}

//-------COEURS HOVER------

.coeur-plein {
  // le coeur plein de base n'est pas affiché
  display: none;
  color: #ff79da;
  // color: linear-gradient($pink, $violet);
  animation-name: coeurs-loading;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.card1:hover .fa-heart,
.card2:hover .fa-heart,
.card3:hover .fa-heart,
.card4:hover .fa-heart,
.restaurant-title:hover .fa-heart {
  // au survol de la carte le coeur disparait
  display: none;
}

.card1:hover .fa-heart + .coeur-plein,
.card2:hover .fa-heart + .coeur-plein,
.card3:hover .fa-heart + .coeur-plein,
.card4:hover .fa-heart + .coeur-plein,
.restaurant-title:hover .fa-heart + .coeur-plein {
  // au survol de la carte entière le coeur de
  // base est remplacé par le coeur plein
  display: inline-block;
  animation: coeurs-loading 500ms;
}

//-----FIN COEURS HOVER-----

.index-la-palette-du-gout,
.index-la-note-enchantee,
.index-a-la-francaise,
.index-le-delice-des-sens {
  font-size: 18px;
  font-weight: 500;
}

.index-menilmontant,
.index-charonne,
.index-cite-rouge,
.index-folie-mericourt {
  font-size: 17px;
  font-weight: 300;
  //   padding-left: 15px;
}

.title-heart {
  // modif coeur icône
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 25px;
}

img {
  // photos
  max-width: 100%;
  max-height: 100%;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  // modif photos
  width: 700px;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

//-----FOOTER------------------

footer {
  // background footer
  padding: 15px 25px 15px 25px;
  background: $font-background-dark-gray;
}

.liens-footer {
  // mise en colonne footer
  display: flex;
  flex-direction: column;
}

.footer-title {
  // police du titre du footer
  margin-block: 6px;
  font-family: shrikhand;
  color: white;
  font-size: 18px;
}

.proposer-un-restaurant,
.devenir-partenaire,
.mentions-legales,
.contact {
  // couleur et police liens footer
  color: white;
  text-decoration: none;
  font-family: roboto, sans-serif;
  padding: 5px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }
}

//-----MEDIA QUERIES--------------

@media (min-width: 375px) and (max-width: 444px) {
  .reservation-title,
  .reservation-commentaire {
    display: flex;
    flex-direction: column;
  }

  .reservation-title-1,
  .reservation-title-2 {
    font-size: 32px;
  }

  .reservation-commentaire-1,
  .reservation-commentaire-2 {
    font-size: 20px;
  }
}

@media (min-width: 445px) {
  .reservation-title-1,
  .reservation-title-2 {
    font-size: 40px;
  }
}

@media (min-width: 445px) and (max-width: 701px) {
  .reservation-title,
  .reservation-commentaire {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 877px) {
  .button-fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 500px) and (max-width: 877px) {
  .partie-2-fonctionnement {
    height: 500px;
  }
}

//-----MEDIA QUERIES > 375PX--------------

@media (min-width: 375px) {
  body {
    // mise à zéro des marges et padding pour navigateurs
    margin: 0;
    padding: 0;
  }

  .main-h1 {
    font-family: shrikhand;
    font-size: 40px;
    font-weight: 300;
    margin-block: 20px;
    display: flex;
    justify-content: center;
  }

  .localisation {
    background-color: $back-gray;
    box-shadow: none;
    height: 50px;
    margin: 0;
  }

  .reservation-title {
    display: flex;
    padding: 17px 30px 16px 30px;
  }

  .reservation-title,
  .reservation-commentaire {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
  }

  .partie-1-reservation {
    height: 290px;
  }

  #partie-3-restaurants {
    padding-top: 25px;
    padding-bottom: 0;
    height: 645px;
  }

  .restaurants-title {
    margin-top: 5px;
  }

  .cards {
    margin: 25px 5% 5% 5%;
  }

  .card1,
  .card2 {
    margin-bottom: 50px;
  }

  .button-container {
    @extend %flex-center;
    width: 100%;
  }

  .button-explorer {
    // width: 28%;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    color: white;
    padding: 17px 20px 17px 20px;
    margin-top: 23px;
    margin-bottom: 20px;
    background: linear-gradient($pink, $violet);
    box-shadow: 0px 5px 10px $back-shadow-gray;
  }

  .card-part1,
  .card-part2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 10%;
  }

  .button-choix-du-restaurant {
    justify-content: center;
    width: 90%;
    margin-block: 10px;
    margin-inline: 5%;
    padding: 30px 5px 30px 0px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background-color: $back-lightgray;
    box-shadow: 0px 5px 5px $box-shadow-gray;
    position: relative;
    z-index: 1;
  }

  .fonctionnement-title {
    font-size: 24px;
    margin: 53px 0 10px 5%;
  }

  .devenir-partenaire {
    padding-right: 45px;
  }

  .mentions-legales,
  .contact {
    font-size: 15px;
  }

  .mentions-legales {
    padding-right: 10px;
  }

  .fa-utensils,
  .fa-handshake-angle {
    padding-right: 5px;
  }
}

@media (min-width: 877px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
  }

  .footer-title {
    padding: 40px 30px 40px 0;
    font-size: 18px;
  }

  .liens-footer {
    display: flex;
    flex-direction: row;
    padding: 50px 90px 20px 0;
  }
}

// on click : checks verts rotations
// mettre des comm
// retouches détails
// la réduction centrage des icônes sur index.html
// chiffres à centrer
// hover cards
// w3 pass html et css
// vérif des liens / photos
// vérif des pages restau
