//------IMPORTS--------------------

// "_" pour dire que c'est un module
// et qu'il ne faut pas le compiler

@import "./add-ons/variables";
@import "./add-ons/_placeholder";

//-------LOADER---------------------

.loader {
  // définition du loader de chargement
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9356dc;
  background-color: #99e2d0;
  font-size: 50px;
  font-weight: 500;
  font-family: shrikhand;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeOut 3s ease-out;
  z-index: 5;
  width: 100%;
  height: 100%;
}

// tuto sur animista
.loader {
  -webkit-animation: tracking-out-contract 1.7s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: tracking-out-contract 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

// tuto sur animista
@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

//-------CORPS DU SITE----------------

body {
  // mise à zéro des marges et padding pour navigateurs
  margin: 0;
  padding: 0;
}

main {
  // police et éventuels ancres avec comportement smooth
  font-family: roboto, sans-serif;
  scroll-behavior: smooth;
}

//---------HEADER---------------------

h1 {
  // modif du titre et centrage
  font-family: shrikhand;
  font-size: 30px;
  font-weight: 300;
  margin: 13px;
  display: flex;
  justify-content: center;
}

//----------MAIN----------------------

.restaurant-title {
  // mise en page du titre
  font-family: shrikhand;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.localisation {
  // couleur background et ombres
  @extend %flex-center;
  background-color: $back-gray;
  box-shadow: 0px -4px 3px 1px $back-shadow-gray,
    0px 4px 3px 1px $back-shadow-gray;
}

.localisation .fa-location-dot {
  // mise en place de l'icône
  @extend %flex-center;
  font-size: 16px;
  margin-inline: 5px;
}

.ville {
  // mise en place du nom de la ville
  font-size: 15px;
}

//--------PARTIE 1----------------

h3 {
  // padding titre et paragraphe
  margin: 0;
  padding: 18px 0 0 10px;
}

p {
  // padding titre et paragraphe
  margin: 0;
  padding: 5px 0 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

.partie-1-reservation {
  // mise en forme de la partie réservation
  display: flex;
  flex-direction: column;
  background-color: $back-lightgray;
}

.reservation-title {
  // ajustement padding titre résa
  padding: 45px 30px 20px 30px;
}

.reservation-title-1,
.reservation-title-2 {
  // modif police des titres
  @extend %flex-center;
  font-size: 23px;
  font-weight: 600;
}

.reservation-commentaire-1,
.reservation-commentaire-2 {
  // modif police des comm
  @extend %flex-center;
  font-size: 17px;
  font-weight: 200;
}

.button-container {
  // centrage bouton
  @extend %flex-center;
}

.button-explorer {
  // déco bouton explorer
  width: 56%;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  color: white;
  padding: 17px 20px 17px 20px;
  margin-top: 30px;
  margin-bottom: 45px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 5px 10px rgb(189, 182, 182);
}

.button-explorer:hover {
  // changement au survol
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0px 4px 3px 1px $back-shadow-gray;
}

//-----PARTIE 2-------------------

.partie-2-fonctionnement {
  // mise en colonne
  @extend %flex-column;
  background: white;
  height: 435px;
}

.fonctionnement-title {
  // mise en place et police du titre
  //   display: flex;
  //   justify-content: baseline;
  font-size: 24px;
  margin: 50px 0 30px 5%;
}

.button-fonctionnement {
  // mise en colonne
  @extend %flex-column;
}

// .button-choix-du-restaurant{
//     display:grid;
//     grid-template-columns: 1fr 1fr 90%;
// }

.button-choix-du-restaurant,
.button-composez-votre-menu,
.button-degustez-au-restaurant {
  // mise en forme des 3 boutons
  @extend %flex-center;
  justify-content: center;
  width: 90%;
  margin-block: 10px;
  margin-inline: 5%;
  padding: 25px 0px 25px 0;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  /* font-weight: 500; */
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 5px 5px rgb(236, 234, 234);
  position: relative;
  z-index: 1;
}

.button-choix-du-restaurant:hover .fa-tablet-screen-button,
.button-composez-votre-menu:hover .fa-list-ul,
.button-degustez-au-restaurant:hover .fa-store {
  // au survol, les icônes deviennent rose
  color: $pink;
}

.number {
  // centrage des nombres
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
}

.box-number {
  // définition des nombres
  position: absolute;
  z-index: 2;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid $violet;
  border-radius: 15px;
  background: $violet;
}

.fa-tablet-screen-button,
.fa-list-ul,
.fa-store {
  // mise en forme des 3 icônes
  color: $font-awesome-gray;
  padding-right: 30px;
}

.fa-tablet-screen-button:hover,
.fa-list-ul:hover,
.fa-store:hover {
  // changement au survol
  color: $violet;
}

.fa-1,
.fa-2,
.fa-3 {
  // chiffre 1/2/3
  color: white;
  // margin:2px;
  border-radius: 50px;
  margin-right: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: $violet;
}

//------PARTIE 3-------------------

.partie-3-restaurants {
  // mise en colonne
  @extend %flex-column;
  background-color: $back-lightgray;
  padding-top: 40px;
  padding-bottom: 30px;
}

.restaurants-title {
  // modif titre restaurants
  font-size: 25px;
  margin-left: 5%;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}

.cards {
  // modif cards
  width: 90%;
  margin: 5%;
}

.card1,
.card2,
.card3,
.card4 {
  // hauteur cards
  height: 250px;
  max-width: 500px;
  margin-bottom: 40px;
}

.card-part1,
.card-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 10%;
}

.card1,
.card2 {
  position: relative;
  z-index: 1;
}

.card1-comm,
.card2-comm,
.card3-comm,
.card4-comm {
  // modif du comm
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  height: 95px;
  margin-top: -4px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  border-radius: 15px;
  box-shadow: 0px 4px 3px 1px $back-shadow-gray;
}

.nouveau {
  font-size: 14px;
  border: 2px solid #99e2d0;
  border-radius: 2px;
  background: #99e2d0;
  padding: 5px 10px 5px 10px;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
}

.fa-heart {
  font-size: 25px;
}

.coeur-plein {
  // le coeur plein de base n'est pas affiché
  display: none;
  color: #ff79da;
  // color: linear-gradient(#ff79da, #9356dc);
}

.card1:hover .fa-heart,
.card2:hover .fa-heart,
.card3:hover .fa-heart,
.card4:hover .fa-heart {
  // au survol de la carte le coeur disparait
  display: none;
}
// .fa-heart:hover {
//   // au survol de la carte le coeur disparait
//   display: none;
// }
// .coeur-plein:hover {
//   display: inline-block;
// }

.card1:hover .fa-heart + .coeur-plein,
.card2:hover .fa-heart + .coeur-plein,
.card3:hover .fa-heart + .coeur-plein,
.card4:hover .fa-heart + .coeur-plein {
  // au survol de la carte entière le coeur de
  // base est remplacé par le coeur plein
  display: inline-block;
}

.index-la-palette-du-gout,
.index-la-note-enchantee,
.index-a-la-francaise,
.index-le-delice-des-sens {
  font-size: 18px;
  font-weight: 500;
}

.index-menilmontant,
.index-charonne,
.index-cite-rouge,
.index-folie-mericourt {
  font-size: 18px;
  font-weight: 300;
  //   padding-left: 15px;
}

.nouveau {
  color: green;
}

.title-heart {
  // modif coeur icône
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 25px;
}

img {
  // photos
  max-width: 100%;
  max-height: 100%;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  // modif photos
  width: 700px;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  // background-attachment: fixed;
  // background-size:cover;
  // background-position: top;
}
//-----FOOTER------------------

footer {
  // background footer
  padding: 15px 25px 15px 25px;
  background: $font-background-dark-gray;
}

.liens-footer {
  // mise en colonne footer
  display: flex;
  flex-direction: column;
}

.footer-title {
  // police du titre du footer
  margin-block: 10px;
  font-family: shrikhand;
  color: white;
  font-size: 20px;
}

.proposer-un-restaurant,
.devenir-partenaire,
.mentions-legales,
.contact {
  // couleur et police liens footer
  color: white;
  text-decoration: none;
  font-family: roboto, sans-serif;
  padding: 5px;
}

//-----MEDIA QUERIES > 768PX--------------

@media (min-width: 768px) {
  body {
    // mise à zéro des marges et padding pour navigateurs
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: shrikhand;
    font-size: 40px;
    font-weight: 300;
    margin: 20px;
    display: flex;
    justify-content: center;
  }

  .localisation {
    background-color: rgb(227, 227, 227);
    box-shadow: none;
    height: 45px;
  }

  .reservation-title {
    padding: 17px 30px 16px 30px;
  }

  .reservation-title,
  .reservation-commentaire {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 7px;
  }

  .reservation-title-1,
  .reservation-title-2 {
    font-size: 40px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .button-explorer {
    width: 28%;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    color: white;
    padding: 17px 20px 17px 20px;
    margin-top: 30px;
    margin-bottom: 45px;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 5px 10px rgb(189, 182, 182);
  }

  .button-fonctionnement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .partie-2-fonctionnement {
    background: white;
    height: 235px;
  }

  .partie-3-restaurants {
    background-color: rgb(247, 247, 247);
    padding-top: 20px;
    padding-bottom: 30px;
  }

  //   .cards {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //     row-gap: 30px;
  //     column-gap: 95px;
  //     margin-inline: 5%;
  //     margin-block: 30px;
  //   }

  .button-choix-du-restaurant {
    justify-content: center;
    width: 90%;
    margin-block: 10px;
    margin-inline: 5%;
    padding: 30px 5px 30px 0px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 5px 5px rgb(236, 234, 234);
    position: relative;
    z-index: 1;
  }

  .fonctionnement-title {
    font-size: 24px;
    margin: 45px 0 10px 5%;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
  }

  .footer-title {
    padding: 40px 30px 40px 0;
    font-size: 18px;
  }

  .liens-footer {
    display: flex;
    flex-direction: row;
    padding: 50px 90px 20px 0;
  }

  .devenir-partenaire {
    padding-right: 45px;
  }

  .mentions-legales,
  .contact {
    font-size: 15px;
  }

  .mentions-legales {
    padding-right: 10px;
  }

  .fa-utensils,
  .fa-handshake-angle {
    padding-right: 5px;
  }
}

// z-index page principale
// mettre des comm
// retouches détails
// chiffres à centrer
// hover cards / coeurs
// animations ? cf brief
// w3 pass html et css
// vérif des liens / photos
// vérif des pages restau
