// "_" pour dire que c'est un module 
// et qu'il ne faut pas le compiler 

%flex-center{
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

%flex-row{
    display:flex;
}

%flex-column{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}