// "_" pour dire que c'est un module
// et qu'il ne faut pas le compiler

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%loading {
  animation-name: entrees-loading;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
