//---- anim check---
@keyframes rotation {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}

//---- anim loader
@keyframes reduction {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    display: none;
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

//----anim coeurs
@keyframes coeurs-loading {
  0% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.25;
    //transform: 1.05;
  }

  75% {
    opacity: 0.75;
    //transform: scale(1.15);
  }

  100% {
    opacity: 1;
  }
}

@keyframes empty-heart {
  //ajout 30.08
  0% {
    //ajout 30.08
    opacity: 1; //ajout 30.08
    transform: scale(1.15);
  }

  50% {
    //ajout 30.08
    opacity: 0.95; //ajout 30.08
    transform: 1.05;
  }

  75% {
    //ajout 30.08
    opacity: 0.9; //ajout 30.08
  }

  100% {
    //ajout 30.08
    opacity: 0; //ajout 30.08
  }
} //ajout 30.08

//----anim chargements entrees
@keyframes entrees-loading {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5; //0.25
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

//----anim chargements plats
@keyframes plats-loading {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5; //0.25
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

//----anim chargements desserts
@keyframes desserts-loading {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5; //0.25
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

//chargement pages restaurants
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
