// couleurs principales

$violet:#9356DC;
$pink:#FF79DA;
$green:#99E2D0;


// couleurs secondaires 

$back-lightgray:rgb(247, 247, 247);
$back-shadow-gray:rgb(189, 182, 182);
$back-gray:rgb(227, 227, 227);
$box-shadow-gray:rgb(236, 234, 234);
$font-awesome-gray:#757575;