.button-container, .restaurant-title {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
}

.main-la-palette-du-gout,
.main-le-delice-des-sens {
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1180px;
}

.main-la-palette-du-gout {
  height: 1150px;
}

.main-la-note-enchantee {
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1230px;
}

.main-a-la-francaise {
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  position: absolute;
  top: 265px;
  left: 0;
  right: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 1200px;
}

.footer-la-note-enchantee {
  position: relative;
  bottom: -1240px;
}

.footer-la-palette-du-gout {
  position: relative;
  bottom: -1160px;
}

.footer-a-la-francaise {
  position: relative;
  bottom: -1160px;
}

.footer-le-delice-des-sens {
  position: relative;
  bottom: -1170px;
}

@media (max-width: 374px) {
  .footer-la-note-enchantee {
    position: relative;
    bottom: -950px;
  }
  .footer-la-palette-du-gout {
    position: relative;
    bottom: -1090px;
  }
  .footer-a-la-francaise {
    position: relative;
    bottom: -1070px;
  }
  .footer-le-delice-des-sens {
    position: relative;
    bottom: -1080px;
  }
}
button {
  border: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block: 10px;
}

.fa-arrow-left {
  align-self: flex-start;
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.restaurants-h1 {
  font-family: shrikhand;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}

h3 {
  font-size: 28px;
  font-weight: 200;
}

.restaurant-title {
  justify-content: space-evenly;
  margin-block: 13px;
  cursor: pointer;
}

img {
  width: 400px;
}

.entrees,
.plats,
.desserts {
  margin: 30px 15px 50px 15px;
  font-size: 20px;
}

.entrees-title,
.plats-title,
.desserts-title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 3px solid #99e2d0;
  width: 42px;
  margin-block: 15px;
}

.entrees-sous-title,
.plats-sous-title,
.desserts-sous-title {
  font-size: 18px;
  margin: 12px 20px 0px 20px;
  padding: 10px 0 0 0;
}

.sous-titre-et-comm {
  height: 65px;
  position: relative;
  cursor: pointer;
}

.entrees-comm,
.plats-comm,
.desserts-comm {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 0 20px;
  padding: 7px 10px 10px 0;
}

.sous-titre-et-comm {
  background: white;
  border-radius: 15px;
  box-shadow: 3px 0px 10px rgb(189, 182, 182);
}

.sous-titre-et-comm {
  position: relative;
}

.slide-check {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.prix {
  display: flex;
  align-items: end;
  padding: 0 10px 10px 0;
}

.check-test {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 70px;
  height: 65px;
  background-color: #99e2d0;
  color: white;
  margin-right: -70px;
  transition: margin-right 500ms;
}

.sous-titre-et-comm:hover .slide-check i {
  animation: rotation 550ms;
}

@keyframes rotation {
  0% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0);
  }
}
.sous-titre-et-comm:hover .check-test {
  margin-right: 0;
}

.entrees-sous-title,
.plats-sous-title,
.desserts-sous-title,
.accompagnements {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entrees {
  animation-name: entrees-loading;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes entrees-loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.plats {
  animation-name: plats-loading;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes plats-loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.desserts {
  animation-name: desserts-loading;
  animation-duration: 1200ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes desserts-loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.prix {
  font-weight: 500;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
}

.button-commander {
  width: 50%;
  border-radius: 50px;
  border: none;
  font-size: 28px;
  color: white;
  padding: 28px 75px 28px 75px;
  margin-bottom: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 5px 5px rgb(189, 182, 182);
}
.button-commander:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 300ms;
  box-shadow: 0px 4px 3px 1px rgb(189, 182, 182);
}

.footer-title {
  font-size: 18px;
  margin-block: 6px;
}

.liens-footer {
  margin-bottom: 5px;
}

.proposer-un-restaurant,
.devenir-partenaire,
.mentions-legales,
.contact {
  font-size: 15px;
}
.proposer-un-restaurant:hover,
.devenir-partenaire:hover,
.mentions-legales:hover,
.contact:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

@media (max-width: 650px) {
  .button-commander {
    font-size: 16px;
    padding: 15px 30px 15px 30px;
  }
}
@media (min-width: 375px) and (max-width: 500px) {
  .main-a-la-francaise,
  .main-la-palette-du-gout,
  .main-le-delice-des-sens,
  .main-la-note-enchantee {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 440px;
  }
}
@media (min-width: 500px) {
  .main-a-la-francaise,
  .main-la-palette-du-gout,
  .main-le-delice-des-sens,
  .main-la-note-enchantee {
    position: absolute;
    left: 13%;
    right: 13%;
    top: 440px;
  }
}
@media (max-width: 374px) {
  nav {
    position: relative;
  }
  .fa-arrow-left {
    position: absolute;
    top: 15px;
    left: 20px;
  }
}
@media (min-width: 375px) {
  .main-la-palette-du-gout,
  .main-la-note-enchantee,
  .main-le-delice-des-sens {
    height: 1300px;
  }
  .button-commander {
    width: 200px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    color: white;
    padding: 17px 0px 17px 0px;
    margin-bottom: 30px;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 5px 5px rgb(189, 182, 182);
  }
}
@media (min-width: 375px) and (min-width: 877px) {
  .button-fonctionnement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .partie-2-fonctionnement {
    background: white;
    height: 220px;
  }
}
@media (min-width: 375px) {
  .card-entree-la-note-enchantee,
  .entrees,
  .plats,
  .desserts {
    padding-inline: 12%;
  }
  img {
    height: 384px;
    width: 100%;
    object-fit: cover;
  }
  nav {
    height: 97px;
  }
  .restaurant-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-block: 40px;
    gap: 35px;
  }
  h3 {
    font-size: 25px;
    font-weight: 200;
  }
}

/*# sourceMappingURL=restaurants.css.map */
