@media (max-width: 767.8px) {
  // "_" pour dire que c'est un module
  // et qu'il ne faut pas le compiler
  @import "./add-ons/variables";
  @import "./add-ons/_placeholder";

  body {
    // mise à zéro des marges et padding pour navigateurs
    margin: 0;
    padding: 0;
  }

  div {
    // police et éventuels ancres avec comportement smooth
    font-family: roboto, sans-serif;
    scroll-behavior: smooth;
  }

  main {
    background-color: $back-lightgray;
  }

  .entrees,
  .plats,
  .desserts {
    font-size: 20px;
  }

  .entrees-title,
  .plats-title,
  .desserts-title {
    font-size: 20px;
    font-weight: 300;
  }

  .entrees-sous-title,
  .plats-sous-title,
  .desserts-sous-title {
    font-size: 24px;
    font-weight: 300;
  }

  .entrees-comm,
  .plats-comm,
  .desserts-comm {
    font-size: 18px;
    font-weight: 200;
  }
}
